body {
      height: 100vh ;
      width: 100%;
      overflow: hidden;
      background-color: #EBFFE8 !important;
      font-family: 'Be Vietnam Pro', sans-serif;
    }
.row.fullscreen {
      height: 100%;
    }

.form-control {
      background-color: #e0ecd0;
      border: none;
    }

.area-central {
    height: 90vh;
    width: 60%;
}

footer {
    width: 100%;
    height: 10vh;
}
    
.left-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.right-panel {
    margin-left: 20px;
    margin-bottom: 2.0rem !important;
    background-color: #F5FFF4;
      /* ajuste a largura via col-*, aqui col-lg-5 ~ 41.6% */
    height: 100%; 
    width: 40% ;
    padding: 5%;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 3px, rgba(15, 15, 15, 0.2) 0px 9px 24px
}

#login-area{
    display: flex;
    align-items: flex-end;
}

.about-text{
    font-size: 20px;
    color: #787878;
}

#note-garden{
    margin-top: 15px;
    padding-left: none !important;
    
}

#iconeplanta{
    padding-right: 35%;
}
.main-title{
    font-size: 32px;
}

.secondary-title{
    font-size: 28px;
    margin-top: 10%;
    padding-right: 15%;
}

label{
    font-size: 20px;
}

#login-area{
    align-items: center;
}

#nomeCompletoCaixa{
    margin-top: 5px;
    background-color: #e0ecd0;
    border: none;
    box-shadow: 0, 0, 0, 3;
    width: 350px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-indent: 5px;
}

#nomeCompletoCaixa::placeholder{
    color: gray;
    padding: 5%;
    opacity: 50%;
}

#emailCaixa{
    margin-top: 5px;
    background-color: #e0ecd0;
    border: none;
    box-shadow: 0, 0, 0, 3;
    width: 350px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-indent: 5px;
}

#emailCaixa::placeholder{
    color: gray;
    padding: 5%;
    opacity: 50%;
}

#senhaCaixa {
    margin-top: 5px;
    background-color: #e0ecd0;
    border: none;
    box-shadow: 0, 0, 0, 3;
    width: 350px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-indent: 5px;
}

#senhaCaixa::placeholder{
    color: gray;
    padding: 5%;
    opacity: 50%;
}

a {
    text-decoration: none !important;
    color: #787878 !important;
}

#botao {
    background-color: #4CAF50;
    color: #fff;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    margin-top: 5% !important;
    margin-bottom: auto !important;
}

#botao:hover {
    border: 2px solid #4CAF50;
    background-color: #fff;
    color: #4CAF50;
}



.btn{
    width: 100%;
    
}

#esqueceu-senha {
    font-size: 14px;
    color: #787878;
    text-decoration: none;
    margin-bottom: 5% !important;
}